@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #718096;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: rgb(156 163 175);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #262837;
    border-radius: 4px;
    scrollbar-color: #718096 #e2e8f0;
}